* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #9E9E9E;
}

div {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

    header {
        display: inline-block;
        width: 100%;
        margin-top: 30px;
    }

        header > img {
            float: left;
            width: 50px;
        }

        nav {
            display: inline-block;
            float: right;
        }

            a {
                font-size: 14px;
                font-weight: 600;
                float: left;
                margin-left: 0;
                line-height: 20px;
                margin-top: 10px;
                margin-left: 15px;
                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;
                text-decoration: none;
                color: #9E9E9E;
            }

            a:nth-of-type(5) {
               border: 3px solid #9E9E9E;
               margin-top: 5px;
               border-radius: 20px;
               text-transform: uppercase;
            }

            a:nth-of-type(5):hover {
                border-color: #89C069;
                color: #89C069;
            }

            a:not(:last-child):hover {
                color: #89C069;
            }
    main {
        display: inline-block;
        margin-top: 120px;
    }

        main > div {
            max-width: 45%;
            float: left;
            padding: 68.705px 0;
        }

            h1 {
                display: inline-block;
                font-size: 100px;
                font-weight: 700;
                line-height: 100px;
                margin-bottom: 30px;
            }

            p {
                display: inline-block;
                font-size: 37px;
            }

        main > img {
            max-width: 45%;
            float: right;
        }