* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Open Sans', sans-serif; */
    color: #9E9E9E;
}

div {
    width: 1170px;
    margin-left: calc( (100% - 1170px) / 2);
}

    header {
        display: inline-block;
        width: 100%;
        padding-top: 30px;
    }

        header > img {
            float: left;
            width: 50px;
        }

        nav {
            display: inline-block;
            float: right;
        }

            a {
                display: inline-block;
                float: left;
                margin-left: 0;
                line-height: 20px;
                margin-top: 10px;
                margin-left: 15px;
                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;
                text-decoration: none;
            }

            a:nth-of-type(5) {
               border: 5px solid #9E9E9E;
               margin-top: 5px;
               border-radius: 20px;
            }
    main {
        padding-top: 50px;
    }

        main > div {
            max-width: 50%;
            float: left;
        }

            h1 {
                display: inline-block;
                font-size: 100px;
                font-weight: 700;
            }

            p {
                display: inline-block;
                font-size: 32px;
                padding-right: 30px;
            }

        main > img {
            max-width: 50%;
            float: right;
        }